@import "tailwindcss";

@theme{
    --color-background: #000000;
    --color-text: #FFFFFF;
    --color-hover-icon: #E44D9A;
    --color-section-bg: #180B29;
}

body{
    background-color: var(--color-background);
}