@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
    --color-fill: var(--color-fill);
    --color-fill-hover: var(--color-fill-hover);
    --color-active: var(--color-active);
}

:root {
    --color-fill: #180b29;
    --color-fill-hover: #23113a;
    --color-active: #c7367e;
}